@import '@material/theme/color-palette';

$mdc-theme-primary: white;
$mdc-theme-secondary: #808080;

$mdc-theme-background: black;
$mdc-theme-surface: black;

$mdc-theme-error: $material-color-red-900;
