{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier",
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "plugins": [
    "prettier"
  ],
  "globals": {
    "VERSION": false
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    // Turn on once in a while to find magic numbers
    // "no-magic-numbers": ["error", { "ignoreArrayIndexes": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "prefer-destructuring": 0,
  }
}
