coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_cache
.stats.html
__pycache__

*.ipynb_checkpoints

pids
logs
results

dist/*
dist.zip

npm-debug.log
node_modules/*

examples-build
stats.html
