/*
 * -----------------------------------------------------------------------------
 * Global styles
 * -----------------------------------------------------------------------------
 */

:root {
  --text-color: white;
  --bg-color: black;
  --gray-medium: #666;
  --primary-color: #ff7ff6;
  --primary-color-rgba: rgba(255, 127, 246, 0.95);
  --primary-bg-color: #552a52;
  --code-color: #6fb2e4;
  --code-bg-color: #142029;
  --tnormal: 0.18s;
  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
}

/*
 * -----------------------------------------------------------------------------
 * Global styles
 * -----------------------------------------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  line-height: 1.5;
  transition: font-size var(--tnormal) var(--ease);
}

p {
  margin: 0.5rem 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.25);
  transition: all var(--tnormal) var(--ease);
}

a:hover,
a:focus {
  color: var(--primary-color);
  box-shadow: inset 0 -0.25em 0 0 var(--primary-color);
  outline: none;
}

abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}

input {
  font-size: inherit;
}

button:active {
  outline: none;
}

b,
strong {
  font-weight: 600;
}

::-webkit-selection {
  color: black;
  background: var(--primary-color-rgba);
}

::-moz-selection {
  color: black;
  background: var(--primary-color-rgba);
}

::selection {
  color: black;
  background: var(--primary-color-rgba);
}

figure > img {
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}

code,
pre {
  font-family: 'Fira Code', monospace;
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.flex-c {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-a-c {
  align-items: center;
}

.flex-a-s {
  align-items: stretch;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-g-1 {
  flex-grow: 1;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.medium-spacing li,
ol.medium-spacing li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.large-spacing li,
ol.large-spacing li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.medium-spacing li,
ul.large-spacing li,
ol.medium-spacing li,
ol.large-spacing li {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
