$white: #fff;
$black: #000;

$gray-darkest: #1a1a1a;
$gray-darker: #333333;
$gray-dark: #4d4d4d;
$gray-medium: #808080;
$gray-light: #b2b2b2;
$gray-lighter: #cccccc;
$gray-lightest: #e5e5e5;

$black-darkest-rgba: transparentize(#000, 0.1);
$black-darker-rgba: transparentize(#000, 0.2);
$black-dark-rgba: transparentize(#000, 0.3);
$black-medium-rgba: transparentize(#000, 0.5);
$black-light-rgba: transparentize(#000, 0.7);
$black-lighter-rgba: transparentize(#000, 0.8);
$black-lightest-rgba: transparentize(#000, 0.9);

$white-darkest-rgba: transparentize(#fff, 0.1);
$white-darker-rgba: transparentize(#fff, 0.2);
$white-dark-rgba: transparentize(#fff, 0.3);
$white-medium-rgba: transparentize(#fff, 0.5);
$white-light-rgba: transparentize(#fff, 0.7);
$white-lighter-rgba: transparentize(#fff, 0.8);
$white-lightest-rgba: transparentize(#fff, 0.9);

$primary: #ff7ff6;
$primary-rgba: rgba(255, 127, 246, 0.95);

$primary-darker: #d100c3;
