@import 'transitions';

@mixin radio($bg, $fg, $fg-medium, $primary) {
  .radio {
    input[type='radio']:checked,
    input[type='radio']:not(:checked) {
      display: none;
    }

    input[type='radio']:checked + span,
    input[type='radio']:not(:checked) + span {
      position: relative;
      padding-left: 1.5em;
      line-height: 1.25em;
      display: inline-block;
    }

    input[type='radio']:checked + span:before,
    input[type='radio']:not(:checked) + span:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1em;
      height: 1em;
      border: 1px solid $fg-medium;
      border-radius: 100%;
      background: $bg;
      transition: border-color $normal $ease, background $normal $ease;
    }

    input[type='radio']:checked + span:after,
    input[type='radio']:not(:checked) + span:after {
      content: '';
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      width: 0.4em;
      height: 0.4em;
      background: $bg;
      border-radius: 100%;
      transition: transform $normal $ease;
    }

    input[type='radio']:not(:checked) + span:after {
      opacity: 0;
      transform: scale(0);
    }

    input[type='radio']:checked + span {
      color: $primary;

      &:before {
        border-color: $primary;
        background: $primary;
      }

      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
